# =========================
# Python cache and compiled files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/

# =========================
# Environment files
# =========================
# Ignore all .env files anywhere in the repo
*.env

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE/project files
# =========================
.idea/
.vscode/

# =========================
# User state or temporary data
# =========================
user_state.json
